*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
html {
    font-family: "Inter", sans-serif;
}

header{
    border: 1px solid red;
    height: 152px;
}
section {
    border: 1px solid purple;
    height: 340px;
}
main {
    border: 1px solid blue;
    height: auto;
}
footer {
    border: 1px solid #009145; /* Hexadecimal color code*/
    min-height: 368px; /* su tamaño es 368, pero si su contenido es mas grande el footer crece*/
}

.container {
    width: 1220px;
    margin: 0 auto;
    border: 1px solid springgreen;
    height: inherit;
    min-height: inherit;
}
.product-card{
    background-color: #f0f0f0;
    border-radius: 14px;
    /* max-width: 25%; */
    width:auto;
    overflow: hidden;
}
.product-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}
.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}  
.product-info{
    padding: 20px;
    box-sizing: border-box;

}
.product-title{
    font-size: 22px;
    font-weight: bold;
    display:block;
    word-wrap: break-word;
    line-height: 22px;
}
.product-description{
    font-weight: 400;
    font-size: 14px;
    color: #1c1c1cbc;

    display: block;
    margin-bottom: 14px;
}
.product-tax-policy{
    font-size: 14px;
    font-weight: 100;
    color: #1c1c1cbc;
}
.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}
.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#hero{
    background-color: red;
    background: url('assets/hero_bg.png');
    background-size: cover;
    background-position: top center;
}
#hero .container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title-container span{
    display: block;
    color: white;
    font-weight: 700;
}
.title-container span:first-child{
    font-size: 40px;
}
.title-container span:last-child{
    font-size: 100px;
    line-height: 80px;
}
/*media query*/
@media screen and (max-width: 758px) {
    .container{
        width: auto;
        padding: 2rem;
    }
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}