*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
html {
    font-family: "Inter", sans-serif;
}

header{
    border: 1px solid red;
    height: 152px;
}
section {
    border: 1px solid purple;
    height: 340px;
}
main {
    border: 1px solid blue;
    height: auto;
}
footer {
    border: 1px solid #009145; /* Hexadecimal color code*/
    min-height: 368px; /* su tamaño es 368, pero si su contenido es mas grande el footer crece*/
}

.container {
    width: 1220px;
    margin: 0 auto;
    border: 1px solid springgreen;
    height: inherit;
    min-height: inherit;
}
.product-card{
    background-color: #f0f0f0;
    border-radius: 14px;
    max-width: 25%;
    overflow: hidden;
}
.product-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}
.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}  
.product-info{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.product-title{
    font-size: 22px;
    font-weight: bold;
    display:block;
    word-wrap: break-word;
    line-height: 22px;
}
.product-description{
    font-weight: 400;
    font-size: 14px;
    color: #1c1c1cbc;
}
.product-tax-policy{
    font-size: 14px;
    font-weight: 100;
    color: #1c1c1cbc;
}
.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}
.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}